body
{
  background-color: #00fcff;
  background-image: -webkit-linear-gradient(90deg, #00fcff 0%, #4397e6 50%, #FC00FF 100%);
  background-image: -moz-linear-gradient(90deg, #00fcff 0%, #4397e6 50%, #FC00FF 100%);
  background-image: -o-linear-gradient(90deg, #00fcff 0%, #4397e6 50%, #FC00FF 100%);
  background-image: linear-gradient(90deg, #00fcff 0%, #4397e6 50%, #FC00FF 100%);
  
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px, dashed, black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px; 
  border-radius: 10px; 
  letter-spacing: 10px;
}
h1{
  font-size: 30px;
  text-decoration: underline, currentColor;
  text-decoration-style: unset;
}